.container{
    max-width: 90%;
    width: 90%;
}
.row{
  width: 100%;
  margin: 0%;
}

  .hr {
    margin-top: 2px;
    /* margin-bottom: 1rem; */
    border: 0;
    border-top: 2px solid #364ba3;
}

.topmenu .left{
    text-align: left;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

.button-8{
  width:140px;
  height:50px;
  border:2px solid #34495e;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
}
.button-8 a{
  font-family:arial;
  font-size:16px;
  color:#fff;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-8{
  width:140px;
  height:50px;
  border:70px solid #34495e;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  box-sizing:border-box;
}
.button-8:hover .eff-8{
  border:0px solid #34495e;
}
.button-8:hover a{
  color:#34495e;
}



/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
 }
 
 .navbar .dropdown-menu {
   border:none;
   background-color:#989899!important;
 }
 
 
.topmenu{
    background-color: orange;
    color: #fff;
}
select .name{
    color: orange;
}

.header  li{
   display: inline;
}
.header .btn{ margin-top: 45px;
  margin-left: 20px;
  padding: 10p;
}
.header .btn:hover{background: transparent;transition: all .4s ease-in-out;border: 1px solid rgb(255, 187, 0);color:rgb(0, 26, 255)}

.header  .btn-gery{
background:  blue;
  
}
.header  .btn-acc{
  background: orange;
}
.header  .btn-shop{
  background: gray;
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
 }
 
 .navbar .dropdown-menu {
   border:none;
   background-color:#0060c8!important;
 }
 
 /* breakpoint and up - mega dropdown styles */
 @media screen and (min-width: 992px) {
   
   /* remove the padding from the navbar so the dropdown hover state is not broken */
 .navbar {
   padding-top:0px;
   padding-bottom:0px;
 }
 
 /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
 .navbar .nav-item {
   padding:.5rem .5rem;
   margin:0 .25rem;
 }
 
 /* makes the dropdown full width  */
 .navbar .dropdown {position:static;}
 
 .navbar .dropdown-menu {
   width:100%;
   left:0;
   right:0;
 /*  height of nav-item  */
   top:45px;
   
   display:block;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s, opacity 0.3s linear;
   
 }
   
  
 
   
   /* shows the dropdown menu on hover */
 .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
   display:block;
   visibility: visible;
   opacity: 1;
   transition: visibility 0s, opacity 0.3s linear;
 }
   
   .navbar .dropdown-menu {
     border: 1px solid rgba(0,0,0,.15);
     background-color: #fff;
   }
 
 }
 .topmenu .dropdown-menu{
    position: absolute;
    transform: translate3d(0px, 37px, 0px);
    top: 0px;
    margin-left: -100%;
    will-change: transform;
    background: orange;
    text-align: right;
 }

 p {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: right;
}
h5{
  text-align: center;
}
.berandali{
  margin-top: 20px;
}
h2{
  text-align: center;
  margin-top: 20px;
}
.berandalii{
  margin-top: 30px;
}

.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden; }
.card-product .price-new, .card-product .price {
  margin-right: 5px; }
.card-product .price-old {
  color: #999; }
.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center; }
  .card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; }
    
    .card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee; }
.card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px; }
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee; }
.card-product .title {
  margin-top: 0; }

  .parallax {
    /* The image used */
    background-image: url("../img/43.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h3{
    background-color: navy;
    height: 50px;
    color: #fff;
    text-align: center;
  }
  .spishal{
    margin-top: 20px;
  }

  .endsp{
    margin-top: 30px;
  }
  .footer{
    background-color: #0e1d51;
    margin-top: 5%;
  }
  a{
    color: white;
  }
  .footerr{
    height: 50px;
    background-color: rgb(17, 2, 49);
  }
  h4{
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding-top: 10px;
  }
  .menu{
    background: #dcdce0;
  }
  .bg-primary {
    background-color: #dcdce0!important;
  }
.br img{
  width: 100%;
}