	/*
  	Flaticon icon font: Flaticon
  	Creation date: 13/02/2019 11:32
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        
font-style: normal;

}

.flaticon-avatar:before { content: "\f100"; }
.flaticon-support:before { content: "\f101"; }
.flaticon-home:before { content: "\f102"; }
.flaticon-listing-option:before { content: "\f103"; }
.flaticon-delivery:before { content: "\f104"; }
.flaticon-puzzle:before { content: "\f105"; }
.flaticon-shopping-cart:before { content: "\f106"; }
.flaticon-destination:before { content: "\f107"; }
.flaticon-delivery-1:before { content: "\f108"; }
.flaticon-website:before { content: "\f109"; }